.lead.text-center.text-black-50 {
  font-size: x-large;
}

.lead.text-center.text-dark {
  font-size: x-large;
}

.text-nowrap.text-dark.border.rounded-0.border-white.shadow {
}

.text-nowrap.text-dark.border.rounded-0.border-white.shadow {
  background-color: rgba(255,255,255,0.5);
}

